.nwplayer-player {
    position: relative;
    width: 800px;
    padding: 0px;
    border: 5px solid #007;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #001;
    box-shadow: inset 0 15px 35px #00a;
}

.nwplayer-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../gfx/action.png) no-repeat;
}

.nwplayer-controls {
    position: relative;
    height: 55px;
}

.nwplayer-play {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    background: url(../gfx/play.png) no-repeat;
    opacity: 0.7;
}

.nwplayer-pause {
    background: url(../gfx/pause.png) no-repeat;
}

.nwplayer-play:hover {
    opacity: 1;
}

.nwplayer-seek {
    position: absolute;
    left: 65px;
    top: 19px;
    height: 10px;
    width: 630px;
}

.ui-widget-content {
    background: #333;
}

.nwplayer-seek .ui-slider-handle {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    top: -6px;
    -moz-border-radius:13px;
    -ms-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px; 
    background: #e6e6e6;
    background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(1, #d5d5d5));  
    box-shadow: inset 0 -3px 3px #d5d5d5;
}

.nwplayer-seek .ui-slider-handle.ui-state-hover {
    background: #fff;
}

.nwplayer-seek .ui-slider-range {
	-moz-border-radius:15px;
    -ms-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;	background: #f6a828;
	box-shadow: inset 0 -3px 3px #a6711e;
}

.nwplayer-timer {
    position: absolute;
    left: 710px;
    bottom: 22px;
    width: 20px;
    color: #ccc;
    font-family: mono;
    font-size: 9pt;
}

.nwplayer-volume-box {
    position: absolute;
    right: 0px;
    bottom: 9px;
    height: 180px;
    width: 60px;
}

.nwplayer-volume-box:hover {
}

.nwplayer-volume-button {
    position: absolute;
    right: 15px;
    bottom: 11px;
    width: 26px;
    height: 20px;
    background: url(../gfx/speaker.png) no-repeat;
    opacity: 0.7;
}

.nwplayer-volume-button:hover {
    opacity: 1.0;
}

.nwplayer-volume-slider {
    position: absolute;
    right: 25px;
    bottom: 46px;
    height: 100px;
    width: 7px;
    border: 1px solid #222;
    visibility: hidden;
}

.nwplayer-volume-box:hover .nwplayer-volume-slider {
    visibility: visible;
}

.nwplayer-volume-slider .ui-slider-handle {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    left: -5px;
    -moz-border-radius:13px;
    -ms-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px; 
    background: #e6e6e6;
    background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(1, #d5d5d5));  
    box-shadow: inset 0 -3px 3px #d5d5d5;
}

.nwplayer-volume-slider .ui-slider-handle.ui-state-hover {
    background: #fff;
}

.nwplayer-volume-slider .ui-slider-range {
	-moz-border-radius:15px;
    -ms-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;	background: #aaa;
}
